#hint{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin: 3px;
    display: inline-block;
    width: 40px;
    height: 40px;
    
}

#hint > * {
    margin:0%;
    vertical-align: text-top;
    height: 100%;
    font-size: 30px;
}

#debug {
    position: absolute;
    bottom:0%;
    right: 0%;
}
