:root {
    --main-background : #00202e;
    --plain-text : white;
    --control-background : white;
    --control-text : black;
    --input-background : #8a508f;
    --input-text : white;
    --input-inverted-background:#2c4875;
    --input-inverted:#ffe8be;
    --prompt-background: #ff6361;
}

body {
    background: var(--main-background);
    font-size: 20px;
    font-family: sans-serif, "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "EmojiOne Color", "Android Emoji", sans-serif;
    color: var(--plain-text);
    height: 100%;
}

#game {
    display: felx;
    flex-direction: column;
    padding-left: 3em;
    padding-right: 3em;
}

#upperRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    word-wrap: break-word;
    width: 100%;
}

#title {
    font-size: 3em;
    font-weight: bold;
    grid-area: title;
    text-align: center;
}

@media screen and (max-aspect-ratio: 1/1) {
    body {
        font-size: 30px;
    }
}

#playerLabel {
    text-align: left;
}

#nameBuilder {
    justify-content: center;
}

#hintContainer {
    display: flex;
    justify-content: center;
}

#hintHolder {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: .3em;
    flex-flow: row;
	flex-wrap: wrap;
    max-width: 100%;
    background-color: var(--prompt-background);
    border-radius: .5em;
    padding: .2em 5em .2em .4em;
}

#questionLabel {
    font-style: italic;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

#lowerRow {
    display: grid;
    grid-template-areas: "left center right";
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: stretch;
    width: 100%;
}

button {
    background-color: var(--input-background);
    color: var(--input-text);
    height: fit-content;
}

#journalHolder {
    justify-content: left;
    font-size: small;
}

#inputContainer {
    display: flex;
    justify-content: center;
}

#scoresHolder {
    text-align: right;
}

#hint{
    margin: 3px;
    display: inline-block;
    position: relative;
    width: 5em;
    cursor: pointer;
    animation: new-hint 0.5s ease-out 0s 1 normal forwards;
}

#hint > p {
    margin: 0%;
    font-size: 4em;
    text-align: center;
}

#hint > #popover {
    position: absolute;
    width: 2em;
    cursor: pointer;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;

    transition: opacity .25s;
}

.popover-show {
    opacity: 100%;
    visibility: visible;
    pointer-events:all;
}

.popover-hidden {
    opacity: 0%;
    visibility: hidden;
    pointer-events:none;
}

#popover-body {
    background-color: var(--input-inverted);
    border-color: var(--input-inverted);
    height: 1.5em;
    border-radius: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popover-content {
  background-color: black;
  width: 1.2em;
  height: 1.2em;
  clip-path: polygon(10% 0, 50% 40%, 90% 0, 100% 10%, 60% 50%, 100% 90%, 90% 100%, 50% 60%, 10% 100%, 0 90%, 40% 50%, 0 10%);
}

#popover-pointer {
    background-color: var(--input-inverted);
    height: .5em;
    clip-path: polygon(35% 0, 65% 0, 50% 100%);
}


#responsesHolder {
    display: flex;
    place-content: space-between;
    flex-flow: row wrap;
    gap: .2em;
}

#chefSelectionSection {
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 1em;
    align-content: center;
    align-items: center;
}

button {
    background: var(--control-background);
    color: var(--control-text);
    border-radius: .4em;
    padding: 0.4em 1em;
    cursor: pointer;
    font-weight: bold;
}


#hintPickerHolder {
    display: flex;
    gap: 1em;
}

emoji-picker {
    --background : var(--prompt-background)
}

#footer {
    position: absolute;
    bottom: .5em;
    width: 100%;
    margin: 0 1em .5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#credits {
    font-size: 0.5em;
    color: var(--plain-text);
    overflow: visible;
    white-space: nowrap;
}

#debug {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    gap: 1em;
}

#debug > * {
    font-size: 0.4em;
    padding: 0em;
    border-radius: 0em;
}

#celebration-parent {
    position:absolute;
    width: 100%;
    height: 100%;
    top:0%;
    left: 0%;
	pointer-events: none;
}

#celebration-parent > * {
    position: absolute;
}

#celebration-1 {
    top: 25%;
    left: 25%;
}

#celebration-2 {
    top: 50%;
    left: 50%;
}

#celebration-3 {
    top: 25%;
    left: 75%;
}

@keyframes new-hint {
    from {
        opacity: 0%;
        top: -.4em;
    }

    to {
        opacity: 100%;
        top: 0em;
    }
}