:root {
    --main-background : #00202e;
    --plain-text : white;
    --control-background : white;
    --control-text : black;
    --input-background : #8a508f;
    --input-text : white;
    --input-inverted-background:#2c4875;
    --input-inverted:#ffe8be;
    --prompt-background: #ff6361;
}

body {
    background: var(--main-background);
    font-size: 30px;
    font-family: sans-serif, "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "EmojiOne Color", "Android Emoji", sans-serif;
    color: var(--plain-text);
    height: 100%;
}

#game {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 1em 0 1em;  
    height: 100vh;
}


#title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

#upperRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    word-wrap: break-word;
    width: 100%;
    margin-top: 2em;
}

#playerLabel {
    text-align: left;
}

#nameBuilder {
    justify-content: center;
}

#hintContainer {
    display: flex;
    justify-content: center;
}

#hintHolder {
    margin: 2em 0 .5em .5em;
    display: flex;
    justify-content: left;
    gap: 1em;
    flex-flow: row;
	flex-wrap: wrap;
    max-width: 100%;
    background-color: var(--prompt-background);
    border-radius: .5em;
    min-height: 3 em;
    padding: .2em;
}

#questionLabel {
    font-style: italic;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

#information-row {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}

#next-round-button {
    font-size: 1em;
}

#journalHolder {
    justify-content: left;
    font-size: 1em;
}

#scoresHolder {
    text-align: right;
    font-size: .8em;
}

#lowerRow {
    justify-items: stretch;
    width: 100%;
    margin-top: 1em;
}

#inputContainer {
    display: flex;
    justify-content: center;
}

#keyboard-holder {
    font-size: 2em;
}

#hint {
    display: inline-block;
    position: relative;
    width: 2.5em;
    cursor: pointer;
}

.new-hint {
    animation: new-hint 0.5s ease-out 0s 1 normal forwards;
}

#hint-placeholder {
    width: 2em;
    height: 2em;
}

#hint > p {
    margin: 0%;
    font-size: 2em;
    text-align: center;
}

#hint > #popover {
    position: absolute;
    width: 3rem;
    cursor: pointer;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;

    transition: opacity .25s;
}

.popover-show {
    opacity: 100%;
    visibility: visible;
    pointer-events:all;
}

.popover-hidden {
    opacity: 0%;
    visibility: hidden;
    pointer-events:none;
}

#popover-body {
    background-color: var(--input-inverted);
    border-color: var(--input-inverted);
    height: 2.5rem;
    border-radius: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popover-content {
  background-color: black;
  width: 90%;
  height: 90%;
  clip-path: polygon(10% 0, 50% 40%, 90% 0, 100% 10%, 60% 50%, 100% 90%, 90% 100%, 50% 60%, 10% 100%, 0 90%, 40% 50%, 0 10%);
}

#popover-pointer {
    background-color: var(--input-inverted);
    height: .5em;
    clip-path: polygon(35% 0, 65% 0, 50% 100%);
}


#responsesHolder {
    display: flex;
    place-content: space-between;
    flex-flow: row wrap;
    gap: .2em;
}

#select-chef-section {
    margin-top: 1em;
}

button {
    background: var(--control-background);
    color: var(--control-text);
    border-radius: .4em;
    padding: 0.4em 1em;
    cursor: pointer;
    font-weight: bold;
}


#hintPickerHolder {
    display: flex;
    gap: 1em;
}

emoji-picker {
    --background : var(--prompt-background);
    --emoji-size: 3.5rem;
    --num-columns: 6;  
    --input-font-size: 3.5rem;
    --input-placeholder-color: var(--input-inverted);
    height: 20em;
    width: 85%;
}

#select-chef-button {
    font-size: 1em;
}

#footer {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#credits {
    font-size: 0.5em;
    color: var(--plain-text);
    overflow: visible;
    white-space: nowrap;
}

#debug {
    font-size: 0.5em;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    gap: 1em;
    margin-right: 2em;
}

#debug button {
    font-size: 0.8em;
    padding: 2px;
}

#celebration-parent {
    position:absolute;
    width: 100%;
    height: 100%;
    top:0%;
    left: 0%;
	pointer-events: none;
}

#celebration-parent > * {
    position: absolute;
}

#celebration-1 {
    top: 25%;
    left: 25%;
}

#celebration-2 {
    top: 50%;
    left: 50%;
}

#celebration-3 {
    top: 25%;
    left: 75%;
}

@keyframes new-hint {
    from {
        opacity: 0%;
        right: -.4em;
    }

    to {
        opacity: 100%;
        right: 0em;
    }
}

.correct-answer {
    animation: correct-answer-animation 3s linear 0s infinite normal none;
}

@keyframes correct-answer-animation {
    0%, 100%{
        background-color: #ff0000;
    }
    10%, 60% {
        background-color: #eeff2f;
    }
    20%, 50%, 90% {
        background-color: #34d60f;
    }
    30%, 80% {
        background-color: #0013e6;
    }

    40%, 70% {
        background-color: #e02bcb;
    }
}

.correct-answer-text {
    animation: correct-answer-text-animation 3s linear 0s infinite normal none;
}

@keyframes correct-answer-text-animation {
    0%, 100%{
        color: #ff0000;
    }
    10%, 60% {
        color: #eeff2f;
    }
    20%, 50%, 90% {
        color: #34d60f;
    }
    30%, 80% {
        color: #0013e6;
    }
    40%, 70% {
        color: #e02bcb;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 40px;
    }
}

@media (min-width: 1281px) {
    body {
        font-size: 20px;
    }

    .pseudo-picker-group {
        gap: .5em;
    }
    
    emoji-picker {
        --emoji-size: 2rem;
        --num-columns: 10;  
        --input-font-size: 2rem;
        height: auto;
        width: auto;
    }
}