
.guessing-field {
	margin: 1rem .5rem;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: .5em 1em;
	background-color: lightgray;
	max-width: 100%;
	row-gap: .5em;
	border-radius: 5px;
}

.guessing-word {
	display: flex;
	flex-direction: row;
	gap:.2em;
}

.guessing-letter {
	width: 0.75em;
	height: 1em;
}

.letter {
	border: 0px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	padding: 0.5em;
	position: relative;
}

.filled>.content {
/* @keyframes duration | easing-function | delay |iteration-count | direction | fill-mode | play-state | name */
	animation: 0.15s cubic-bezier(0.23, 1, 0.320, 1) 0s 1 forwards guessing-filled-input;
	position: relative;
}

.filler-char {
	border: 0px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	padding: 0.5em;
}

.filler {
	visibility: hidden;
	display: inline-block;
	width: 1em;
}

@keyframes guessing-filled-input {
	from {
		top: -0.5em;
		opacity: 0;
	}

	to {
		top:0em;
		opacity: 1;
	}
}