
.guessing-field {
	margin: 1rem .5rem;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: .5em 1em;
	background-color: lightgray;
	max-width: 100%;
	row-gap: .5em;
}

#guessingWord {
	display: flex;
	flex-direction: row;
	gap:.2em;
}

.guessing-letter {
	width: 0.75em;
	height: 1em;
}

#letter {
	border: 0px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	padding: 0.5em;
}

#fillerChar {
	border: 0px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	padding: 0.5em;
}

#filler {
	visibility: hidden;
	display: inline-block;
	width: 1em;
}