
.guessing-field {
	margin: 1rem .5rem;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	padding: .5em 1em;
	background-color: lightgray;
	max-width: 100%;
	row-gap: .5em;
	border-radius: 5px;
	justify-content: center;
}

.guessing-word {
	display: flex;
	flex-direction: row;
	gap:.2em;
}

.guessing-letter {
	width: 0.75em;
	height: 1em;
	background-color: white;
}

.letter {
	border: 0px;
	border-radius: 5px;
	text-align: center;
	padding: 0.5em;
	position: relative;
}

.filled>.content {
/* @keyframes duration | easing-function | delay |iteration-count | direction | fill-mode | play-state | name */
	animation: 0.15s cubic-bezier(0.23, 1, 0.320, 1) 0s 1 forwards guessing-filled-input;
	position: relative;
}

.filler-char {
	border: 0px;
	border-radius: 5px;
	text-align: center;
	padding: 0.5em;
}

.filler {
	visibility: hidden;
	display: inline-block;
	width: 1em;
}

@keyframes guessing-filled-input {
	from {
		top: -0.5em;
		opacity: 0;
	}

	to {
		top:0em;
		opacity: 1;
	}
}

.letter-wrong-answer {
	background-color: #FFAAAA;
}

.letter-wrong-answer-animation {
	/* @keyframes duration | easing-function | delay |iteration-count | direction | fill-mode | play-state | name */
	animation: letter-wrong-answer;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-duration: 1s;
}

@keyframes letter-wrong-answer {
	from {
		background-color: red;
	}

	to {
		background-color: #FFAAAA;
	}
}

.horizontal-shake {
	animation-name: wrong-horizontal-shake;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-fill-mode: forwards;
}

@keyframes wrong-horizontal-shake {
	0% {
		transform: translateX(1em);
	}

	20% {
		transform: translateX(-.8em);
	}

	40% {
		transform: translateX(.6em);
	}

	60% {
		transform: translateX(-.4em);
	}

	80% {
		transform: translateX(.2em);
	}

	100% {
		transform: translateX(0em);
	}
}