.keyboard {
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5em;
	width: 100%;

	--pressed-feedback_color: #AFAF91;
}

.keyboard-row {
	display: flex;
	gap: .2em;
}

.keyboard-key {
	font-size: 1em;
	font-weight: 700;
	border:0rem;
	border-radius: .2em;
	padding: 0.5em;
	cursor: pointer;
	text-transform: uppercase;
	transition: background-color 0.125s;
}

.keyboard-key:active {
	background-color: var(--pressed-feedback_color);
}

.keyboard-key-pressed-feedback {
	background-color: var(--pressed-feedback_color);
}