.keyboard {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5rem;
}

.keyboard-row {
	display: flex;
}

.keyboard-key {
	font-size: 1rem;
	font-weight: 700;
	border:0rem;
	border-radius: 4px;
	padding: 0.5rem;
	margin: 0 2px;
	cursor: pointer;
	text-transform: uppercase;
}
