.pseudo-picker {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:0.5em;
	max-width: 100%;
}

.pseudo-picker-content {
	display: flex;
	flex-direction: row;
	gap: 1em;
	width: 100%;
	max-width: 30em;
}

.pseudo-picker-group {
	display: flex;
	flex-direction: column;
    place-content: center;
    place-items: center;
	width: 100%;
	gap: 1em;
}

.pseudo-picker-button.selected {
	background-color: var(--input-inverted-background);
	color: var(--input-inverted);
}

.pseudo-picker-name-presentation {
	display: flex;
	flex-direction: row;
	height: auto;
	align-items: center;
	margin-top: 1em;
	flex-wrap: wrap;
}

.pseudo-picker-name-presentation-name {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: auto;
	margin: 0 .25em 0 .25em;
}

.pseudo-picker-name-part {
	background-color: --input-background;
	color: --input-text;
	border-radius: .3em;
	text-align: center;
	min-width: 4em;
	padding: .2em;
	min-height: 1.2em;
	position: relative;
}

.pseudo-picker-name-part > * {
	position: relative;
}

.pseudo-picker-button {
	width: 9em;
	height: 2em;
	font-size: .7em;
	padding: 0em;
	border-radius: .5em;
}

.pseudo-picker-confirmation {
	width: auto;
	font-size: 1em;
}

.pseudo-picker-part-selected {
	animation: pseudo-picker-part-picked 0.5s ease-out 0s 1 normal forwards;
}

@keyframes pseudo-picker-part-picked {
    from {
        opacity: 0%;
        top: -.4em;
    }

    to {
        opacity: 100%;
        top: 0em;
    }
}